@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(0, 0%, 17%);
  --secondary-color: hsl(0, 0%, 59%);
}

body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

header {
  height: 35vh;
}

.output {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}

.output p {
  line-height: 90%;
}
.map-section {
  max-height: 65vh;
  min-width: 100vw;
}
.map {
  height: 100%;
  z-index: -1;
}

*:focus {
  outline: none;
}

.modalContainer {
  height: min(50%, 210px);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.icon {
  fill: #f87171;
}
